# Archivos y carpetas generados automáticamente
bin/
obj/

# Configuración de usuario y de IDE
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Archivos temporales
*.tmp
*.log

# Archivos de bloqueo y de configuración específicos
project.lock.json
project.fragment.lock.json
project.nuget.cache
*.ide.*
*.DS_Store

# Archivos de publicación y empaquetado
*.publish/
*.deploy/

# Otros
.idea/
*.swp
*.bak
